*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 2.8vw;
  user-select: none;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  background: black;
}

th {
  width: 1.5em;
  height: 1.5em;
  background: rgb(172, 172, 172);
}

@media all and (min-width: 800px) {
  html {
    font-size: 22px;
  }
}
